<h1>Hi <%= @user.name %>,</h1>

<p>Welcome to the Missionary Platform! Your missionary account is currently under review.</p>

<p>We will notify you by email once your account has been approved.</p>

<p>Thanks,<br>The Missionary Platform Team</p>
