<h1>Hi <%= @user.name %>,</h1>

<p>Your missionary profile has been approved!</p>

<p>You can now access your missionary dashboard and start sharing updates with your supporters.</p>

<p>Thanks,<br>The Missionary Platform Team</p>
